#progressBar, #progressText{
    width:20%;
    height:20px;
    margin-left: 40%;
    margin-right: 40%;
    top:5px;
    text-align: center;
    position: fixed;
}
#progressText{
    z-index:10;
    color: lightgrey;
}
#introMessage{
    z-index:10;
    color:white;
    top:0;
    right:0;
    margin:5px;
}

.label3D{
    position: absolute;
    padding: 1px 4px;
    borderRadius: '2px';
}

.ui-progressbar-value{
    background: rgb(131, 117, 98);
    text-align: center;
}
#threejs-container, #overlay{
    position: absolute;
    bottom: 0px;
    top: 0px;
    width: 100%;
}
body{
    margin: 0px;
    overflow: hidden;
}