body{
    display: flex;
}

#progressText{
    z-index:10;
/*     color: lightgrey; */
}
#introMessage{
    z-index:10;
    color:white;
    top:0;
    right:0;
    margin:5px;
}
#login-buttons{
    position: fixed;
    z-index: 20;
    right: 0px;
}
.label3D{
    position: absolute;
    padding: 0px 12px 0px 4px;
    border-radius: 10px;
    border-top-left-radius: 0px;
    background:rgba(255,255,255,0.3);
    border: thin black solid;
    float: left;
}
.ui-progressbar-value{
    background: rgb(131, 117, 98);
    text-align: center;
}
#threejs-container{
    position: absolute;
    bottom: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
}
.flexcontainer{
    display: flex;
    flex-direction: column;
    z-index:30;
}
#controlPanel, .label3Ddetails, #toolbox, #login-buttons, #progressText{
    margin:10px;
    padding: 4px;
    /*this is to make the lines under h3 go all the way to edge*/
    border-radius: 10px;    
    background:rgba(255,255,255,0.8); 
}
#progressBar, #progressText{
    width:10%;
    height:20px;
    margin-left: 45%;
    margin-right: 45%;
    top:5px;
    text-align: center;
    position: fixed;
}
.label3Ddetails{
    display: none;
    position: absolute;
    bottom: 0px;
}
.label3D img{
    position: absolute;
    border: none;
    background: none;
}

#controlPanel {
    width:200px;
    padding-right:0px;
}
#controlPanel > :not(h3){
    margin-right:4px;
}
h3{
    border-bottom: thin solid black;
    margin: 0;
    font-family: verdana, sans, arial, sans-serif;
    font-size: smaller;
    font-variant: small-caps;
}
body{
    margin: 0px;
    overflow: hidden;
    font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
    font-size: smaller;
}
.hidden{
    display:none;
}
.selected{
    background: white;
    border: thin red solid;
    z-index: 300;
}
.expandArrow, .expandedArrow{
    float: right;
    font-size: smaller;
    margin-right: 3px;
}
.deleteButton{
    color: red;
    float: right;
}
#toolbox{
    position: absolute;
    bottom:10px;
    left:10px;
}
#toolbox > #instructions{
    max-width: 240px;
}

.mouseTool > input[type=radio]{
  display:none;
}
input[type=radio] + img{
  cursor:pointer;
  border:2px solid transparent;
}
input[type=radio]:checked + img{
  border:2px solid #f00;
}
.green{
    color: green;
}